<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740352492886-bofqvshjhordn9e3ns0eak7t4jjcgra6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740352492886-bofqvshjhordn9e3ns0eak7t4jjcgra6</string>
	<key>API_KEY</key>
	<string>AIzaSyC7opDsqc_q7QAB8gB-BrS6mb9M4E48EFA</string>
	<key>GCM_SENDER_ID</key>
	<string>740352492886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.left.right.mixmonster</string>
	<key>PROJECT_ID</key>
	<string>left-or-right-mix-monster-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>left-or-right-mix-monster-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740352492886:ios:bf508838b8cb16ef9a82f7</string>
	<key>DATABASE_URL</key>
	<string>https://left-or-right-mix-monster-ios-default-rtdb.firebaseio.com</string>
</dict>
</plist>